@import "https://fonts.googleapis.com/css?family=Raleway:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=Exo:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
@import "https://fonts.googleapis.com/css?family=Oswald:300,400";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/*font family*/
/*index page variables*/
/* line 3, ../sass/app.scss */
body {
  margin: 0px;
  padding: 0px;
}

/* line 7, ../sass/app.scss */
.noPadding {
  padding: 0px !important;
}

/* line 10, ../sass/app.scss */
a {
  text-decoration: none;
  outline: none;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 14, ../sass/app.scss */
a:hover {
  text-decoration: none;
  outline: none;
}

/* line 19, ../sass/app.scss */
.home-doc {
  background: url("../img/index-bg.jpg") no-repeat center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 27, ../sass/app.scss */
.top-bar {
  padding: 20px 0px;
  position: fixed;
  top: 0%;
  z-index: 100;
  width: 100%;
}
/* line 34, ../sass/app.scss */
.top-bar .logo {
  display: block;
}
/* line 37, ../sass/app.scss */
.top-bar .logo a {
  display: inline-block;
}
/* line 39, ../sass/app.scss */
.top-bar .logo a:hover {
  opacity: 0.8;
}
/* line 45, ../sass/app.scss */
.top-bar .right-nav ul {
  margin: 0;
}
/* line 48, ../sass/app.scss */
.top-bar .right-nav ul li {
  display: inline-block;
}
/* line 50, ../sass/app.scss */
.top-bar .right-nav ul li a {
  display: block;
  margin: 0px 5px;
  padding: 11px 15px;
  font: 700 14px "Open Sans", sans-serif;
  color: #333;
}
/* line 56, ../sass/app.scss */
.top-bar .right-nav ul li a:hover {
  color: #087fb4;
}

/* line 67, ../sass/app.scss */
.top-cont {
  color: #444;
}
/* line 69, ../sass/app.scss */
.top-cont h5 {
  font: 700 14px "Open Sans", sans-serif;
  text-transform: capitalize;
  margin-bottom: 10px;
}
/* line 74, ../sass/app.scss */
.top-cont h3 {
  font: 400 40px "Montserrat", sans-serif;
  margin-bottom: 30px;
  margin-top: 0px;
}
/* line 79, ../sass/app.scss */
.top-cont p {
  font: 400 18px "Montserrat", sans-serif;
  line-height: 30px;
}
/* line 83, ../sass/app.scss */
.top-cont span {
  display: block;
  font: 400 18px "Montserrat", sans-serif;
  line-height: 30px;
  font-style: italic;
  color: #087fb4;
}
/* line 91, ../sass/app.scss */
.top-cont .alert-danger {
  margin-top: 30px;
}

/* line 95, ../sass/app.scss */
.left-bar {
  color: #000;
  padding: 30px;
  overflow-y: auto;
  left: 0;
  background-color: #F5F5F5;
}
/* line 102, ../sass/app.scss */
.left-bar h3 {
  font: 400 18px "Montserrat", sans-serif;
}
/* line 105, ../sass/app.scss */
.left-bar ul {
  margin: 0;
  padding-left: 20px;
}
/* line 108, ../sass/app.scss */
.left-bar ul li {
  display: block;
}
/* line 110, ../sass/app.scss */
.left-bar ul li a {
  display: block;
  text-align: left;
  font: 400 16px "Montserrat", sans-serif;
  color: #333;
  margin: 10px 0px;
}
/* line 116, ../sass/app.scss */
.left-bar ul li a:hover {
  color: #087fb4;
}

/* line 124, ../sass/app.scss */
.doc-content {
  padding: 15px 0px;
}
/* line 127, ../sass/app.scss */
.doc-content .doc-group h2.heading {
  font: 700 32px "Raleway", sans-serif;
  color: #333;
  text-transform: capitalize;
}
/* line 132, ../sass/app.scss */
.doc-content .doc-group p {
  font: 400 16px "Montserrat", sans-serif;
  color: #222222;
}
/* line 136, ../sass/app.scss */
.doc-content .doc-group li {
  font: 400 14px "Montserrat", sans-serif;
  color: #444;
  margin: 7px 0px;
}

/* line 144, ../sass/app.scss */
pre {
  padding: 0px 9.5px;
}
