@import "https://fonts.googleapis.com/css?family=Raleway:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=Exo:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
@import "https://fonts.googleapis.com/css?family=Oswald:300,400";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/*font family*/
/*index page variables*/
