@import "compass";
@import "variables";
body{
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.noPadding{
  padding: 0px !important;
}
a{
  text-decoration: none;
  outline: none;
  @include transition-duration(0.5s);
  &:hover{
    text-decoration: none;
    outline: none;
  }
}
.home-doc{
  background: url("../img/index-bg.jpg") no-repeat center/cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar{
  padding: 20px 0px;
  position: fixed;
  top: 0%;
  z-index: 100;
  width: 100%;

  .logo{
    display: block;

    a{
      display: inline-block;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .right-nav{
    ul{
      margin: 0;

      li{
        display: inline-block;
        a{
          display: block;
          margin: 0px 5px;
          padding: 11px 15px;
          font:700 14px $open-sans-font;
          color: #333;
          &:hover{
            color: $primary_color;
          }

        }
      }
    }
  }
}


.top-cont{
  color: #444;
  h5{
    font: 700 14px $open-sans-font;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  h3{
    font: 400 40px $Montserrat-font;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  p{
    font: 400 18px $Montserrat-font;
    line-height: 30px;
  }
  span{
  display: block;
    font: 400 18px $Montserrat-font;
    line-height: 30px;
    font-style: italic;
    color: $primary_color;

  }
  .alert-danger{
    margin-top: 30px;
  }
}
.left-bar{
  color: #000;
  padding: 30px;
  overflow-y: auto;
  left: 0;
  background-color: #F5F5F5;

  h3{
    font: 400 18px $Montserrat-font;
  }
  ul{
    margin: 0;
    padding-left: 20px;
    li{
      display: block;
      a{
        display: block;
        text-align: left;
        font: 400 16px $Montserrat-font;
        color: #333;
        margin: 10px 0px;
        &:hover{
          color: $primary_color;
        }
      }
    }
  }
}

.doc-content{
  padding: 15px 0px;
  .doc-group{
    h2.heading{
      font: 700 32px $raleway-font;
      color: #333;
      text-transform: capitalize;
    }
    p{
      font: 400 16px $Montserrat-font;
      color: #222222;
    }
    li{
      font: 400 14px $Montserrat-font;
      color: #444;
      margin: 7px 0px;
    }
  }
}

pre{
  padding: 0px 9.5px;
}