@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Exo:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$primary_color: #087fb4;
$secondary_color: #6f25ad;

/*font family*/
$exo-font: 'Exo', sans-serif;
$raleway-font: 'Raleway', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$open-sans-font: 'Open Sans', sans-serif;
$Montserrat-font: 'Montserrat', sans-serif;;
$lato-font: 'Lato', sans-serif;
$oswald-font:'Oswald', sans-serif;


/*index page variables*/
$index-primary: #303a3e;
$index-secondary: #16b5d8;

