.wrapper-inner .text-box h3 span.bannerDesc {
  color: #fff;
}
a {
  cursor: pointer;
}
.searchResultText{
  margin-left: 10px;
}
i.gold{
  color: #FFAB00;
}
.cp-pinwheel{
  margin: 20% auto;
  border-radius:50%;
  width:80px;
  height:80px;
  display:block;
  box-sizing:border-box;
  border-top:solid 24px #0fd6ff;
  border-right:solid 24px #58bd55;
  border-bottom:solid 24px #eb68a1;
  border-left:solid 24px #f3d53f;
  animation:cp-pinwheel-animate 1s linear infinite
}
.DayPickerInput{
  display: block;
  position: relative;
}

.DayPickerInput-OverlayWrapper {
  z-index: 9999;
}

.no-data {
  text-align: center;
  padding: 20% 0;
  line-height: 40px;
}

.no-data p{
  font-size: 20px;
  font-weight: 700;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-right-10 {
  padding-right: 10px;
}

.confirmation {
  height: 560px;
}

.Select-control {
  background-color: transparent;
  border: none;
}

.is-open > .Select-control {
  background-color: transparent;
  border: none;
}

.Select-menu-outer {
  margin-left: -7px;
}

.big-font b{
  font-size: 16px;
}

.Select-input,.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #388E3C;
}

.details-feature label {
    display: block;
    font-size: 12px;
    color: #01b7f2;
    font-weight: 500;
}

.select-one-autocomplete > .Select-control {
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.flight-input {
  background-color: #fff !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

.YearNavigation {
  background-color: #fff;
}

.DayPicker {
  width: 100%;
}

.passenger-head {
  font-weight: 600;
  font-size: 16px;
}

.margin-bottom-10 {
  margin-bottom:10px;
}

.list-passenger {
  font-size: 16px;
  font-weight: 600;
}

.policy {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.policy ol {
  text-align: left;
  font-weight: 500;
  font-size: 13px;
}

.policy h5 {
  font-size: 15px;
  font-weight: 600
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 780px) {
  .cp-pinwheel{
    margin: 0 40%;
    display: inline-block;
  }
}
@keyframes cp-pinwheel-animate{0%{border-top-color:#0fd6ff;border-right-color:#58bd55;border-bottom-color:#eb68a1;border-left-color:#f3d53f;transform:rotate(0)}25%{border-top-color:#eb68a1;border-right-color:#f3d53f;border-bottom-color:#0fd6ff;border-left-color:#58bd55}50%{border-top-color:#0fd6ff;border-right-color:#58bd55;border-bottom-color:#eb68a1;border-left-color:#f3d53f}75%{border-top-color:#eb68a1;border-right-color:#f3d53f;border-bottom-color:#0fd6ff;border-left-color:#58bd55}100%{border-top-color:#0fd6ff;border-right-color:#58bd55;border-bottom-color:#eb68a1;border-left-color:#f3d53f;transform:rotate(360deg)}}
