//font family variable
$open-sans-font:'Open Sans', sans-serif;
$raleway-font:'Raleway', sans-serif;
$montserrat-font:'Montserrat', sans-serif;
$oswald-font:"Oswald", sans-serif;
$roboto-font:"Roboto", sans-serif;


//variable color
$red:#d50905;
$green:green;
$yellow:yellow;
$black:black;
$blue:blue;
$orange:orange;
$primary-color:#01b7f2;
$secondry-color:#ff6c26;
$darkish-gray:#444444;
$darkester-gray:#111111;
$light-gray:#dddddd;
$gray:#808080;